<div id="<%= dom_id zoo %>">
  <p>
    <strong>First name:</strong>
    <%= zoo.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= zoo.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= zoo.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= zoo.phone %>
  </p>

  <p>
    <strong>Animal:</strong>
    <%= zoo.animal %>
  </p>

</div>
